@mixin rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
:root {
  --foreground-dark: #2b47e3;
  --foreground-light: #ffff;
  --background-dark: #deeeee;
  --background-light: #ffff;
}
* {
  box-sizing: border-box;
  a {
    &:hover {
      color: inherit !important;
    }

    text-decoration: none !important;
    color: inherit !important;
    display: flex;
    align-items: center;
  }
  .material-symbols-outlined {
    margin: 0.25rem;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-dark);
  margin: 0;
  min-height: 1000px;
  font-family: "Montserrat", sans-serif;
  .bodyHeader {
    z-index: 2;
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 2px 5px 10px #000;
  }
  /*.bodyHeader nav {
    }*/
  h1 {
    /* jeśli podajemy 2 wartości : poz y, poz x */
    margin: 6px 10px;
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    text-align: center;
    color: #23484a;
  }

  nav {
    #toggler {
      display: none;
      &:checked {
        ~ ul {
          right: 0;
        }
        ~ label div {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - 1px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
        }
      }
    }
    label {
      /*border: 5px dashed red;*/
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.15rem;
      div {
        height: 2px;
        width: 80%;
        background-color: #000;
        position: absolute;
        transition: 0.2s;
        &:nth-child(1) {
          top: calc(22% - 1px);
        }
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
        &:nth-child(3) {
          top: calc(78% - 1px);
        }
      }
    }
    ul {
      position: fixed;
      flex-direction: column;
      background-color: var(--foreground-light);
      list-style-type: none;
      margin: 0;
      padding: 2rem;
      display: flex;
      right: -100%;
      top: 2.1rem;
      height: calc(100% - 2.1rem);
      transition: 0.5s;

      li {
        top: 0;
        left: 0;
        margin: 0.3rem;
      }
    }
    /* warunek, wyłapujący wyświetlanie na komputerze */
  }

  .wrapper {
    /* border:5px dashed pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0.5rem 0 0.5rem;
    header {
      width: 100%;
      h2 {
        padding-top: 6rem;
        color: #23484a;
        text-align: center;
      }
    }
    .content {
      p {
        margin: 0;
        margin-bottom: 2rem;
        padding: 0.5rem;
        line-height: 1.2rem;
      }
      img {
        max-width: 100%;
      }
    }

    .tableWrapper {
      padding: 0 1rem;
    }
    table {
      box-shadow: 5px 10px 20px #000;
      width: 100%;
      background-color: #23484a;
      border-collapse: separate;
      tr {
        background: var(--foreground-light);
        &:nth-child(even) {
          background: var(--foreground-lighter);
        }
        th {
          background-color: var(--foreground-dark);
          padding: 0, 5rem;
        }
        td {
          padding: 0, 5rem;
        }
      }
    }
  }
  h2 {
    text-align: center;
    padding: 2px;
    margin: 6px;
    width: 100%;
  }
  .projects {
    .projectsWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .project {
        cursor: pointer;
        position: relative;
        aspect-ratio: 1/1;
        width: 30%;
        margin: 0.3rem;
        max-width: 10rem;
        header {
          background-color: rgba(255, 255, 255, 0.745);
          z-index: 1;
          position: relative;
          h3 {
            margin: 0;
          }
          p {
            opacity: 0;
            display: none;
          }
        }
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .display {
      border: 5px dashed blueviolet;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        li {
          list-style-type: none;
        }
        article {
          position: relative;
          //width: fit-content;
          display: inline-block;

          .displayContent {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            text-align: right;
            h3,
            p {
              margin: 0;
              background-color: #deeeee;
              padding: 0.5rem 1.5rem;
            }
          }
          img {
            max-height: 40vh;
          }
        }
      }
    }
  }
}

footer {
  border: 2px;
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
  ol {
    list-style: none;
    margin: 0;
    padding: 1rem;
    font-size: 0.8rem;
  }
  p {
    margin: 0;
  }
}
.contact {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 2rem 0rem;
  border: 2px #000;
  max-width: 100vw;
  box-shadow: 5px 10px 20px #000;
}
form {
  display: flex;
  //flex-direction: column;
  padding: 0.1rem;
  margin: 0.1rem;
  gap: 5px;
  width: 50%;
  input textarea {
    padding: 10px;
    width: 100%;
    border-radius: 2px;
  }
}
.contact-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  .material-symbols-outlined {
    font-size: 50px !important;
  }
}
@media (min-width: 768px) {
  body {
    .bodyHeader nav {
      ul {
        /* display:none; */
        flex-direction: row;
        position: static;
      }
      label {
        display: none;
      }
    }
    .wrapper {
      flex-direction: row;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      * {
        flex: 1;
        text-align: center;
        padding: 0.3rem;
      }
    }
  }
}
#carouselExampleSlidesOnly {
  top: 8rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}
